<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">   
    <servers>
	    <!-- /!\ FOR CLOUD USERS ONLY: credentials to access your Talend Cloud account -->
		<server>
			<id>${CLOUD_URL}</id>
            <username>${CLOUD_USERNAME}</username>
            <password>${CLOUD_PASSWORD}</password>
    	</server>
        <!-- credentials to access the default Nexus releases/snapshots repository -->
        <server>
            <id>talend-releases</id>
            <username>${NEXUS_USERNAME}</username>
            <password>${NEXUS_PASSWORD}</password>
        </server>
        <server>
            <id>talend-snapshots</id>
            <username>${NEXUS_USERNAME}</username>
            <password>${NEXUS_PASSWORD}</password>
        </server>
        <!-- credentials to access the Nexus shared libraries repository -->
        <server>
            <id>talend-custom-libs-release</id>
            <username>${NEXUS_USERNAME}</username>
            <password>${NEXUS_PASSWORD}</password>
        </server>
        <server>
            <id>talend-custom-libs-snapshot</id>
            <username>${NEXUS_USERNAME}</username>
            <password>${NEXUS_PASSWORD}</password>
        </server>
        <!-- credentials to access the maven plugins -->
        <server>            <!-- central (as proxy) -->
            <id>central</id>
            <username>${NEXUS_USERNAME}</username>
            <password>${NEXUS_PASSWORD}</password>
        </server>
    </servers>   
    <profiles>
        <profile>
            <id>talend-ci</id>
            <repositories>
                <repository>
                    <id>talend-custom-libs-release</id>
                    <name>talend-custom-libs-release</name>
                    <url>${NEXUS_URL}/repository/talend-custom-libs-release/</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>talend-custom-libs-snapshot</id>
                    <name>talend-custom-libs-snapshot</name>
                    <url>${NEXUS_URL}/repository/talend-custom-libs-snapshot/</url>
                    <layout>default</layout>
                </repository>
				<repository>
                    <id>central</id>
                    <name>central</name>
                    <url>${NEXUS_URL}/repository/maven-central/</url>
                    <layout>default</layout>
                </repository>
				<repository>
                    <id>talend-releases</id>
                    <name>talend-releases</name>
                    <url>${NEXUS_URL}/repository/talend-releases/</url>
                    <layout>default</layout>
                </repository>
				<repository>
                    <id>talend-snapshots</id>
                    <name>talend-snapshots</name>
                    <url>${NEXUS_URL}/repository/talend-snapshots/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>plugins_snapshot</id>
                    <name>plugins_snapshot</name>
                    <url>${NEXUS_URL}/repository/talend-custom-libs-snapshot/</url>
                    <layout>default</layout>
                </pluginRepository>
                <pluginRepository>
                    <id>plugins_release</id>
                    <name>plugins_release</name>
                    <url>${NEXUS_URL}/repository/talend-custom-libs-release/</url>
                    <layout>default</layout>
                </pluginRepository>
				<pluginRepository>
                    <id>central</id>
                    <name>central</name>
                    <url>${NEXUS_URL}/repository/maven-central/</url>
                    <layout>default</layout>
                </pluginRepository>
            </pluginRepositories>
        </profile>        
    </profiles>
    <activeProfiles>
        <activeProfile>talend-ci</activeProfile>
    </activeProfiles>
</settings>